.bar {
  background: transparent;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  font-size: 16px;
}

.bar-box {
  background: #282828;
  color: #ebdbb2;
  border: 2px solid #fe8019;
  padding-left: 10px;
  padding-right: 10px;
}

.workspaces-label {
  padding-right: 4px;
  margin-right: 6px;
}

.speaker-label {
  padding-right: 4px;
  font-size: 18px;
}

scale {
  min-width: 100px;
}
