.bar {
  background: transparent;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  font-size: 16px;
}

.bar-box {
  background: #282828;
  color: #ebdbb2;
  border: 2px solid #fe8019;
  padding-right: 10px;
  padding-left: 10px;
}

.active-workspace {
  background: #ebdbb2;
  color: #282828;
  margin: 6px 8px 6px 0;
  padding: 0 8px;
  font-weight: 500;
  font-size: 12px;
}

.inactive-workspace {
  border: 2px solid #ebdbb2;
  margin: 6px 8px 6px 0;
  padding: 0 6px;
  font-weight: 500;
  font-size: 12px;
}

.speaker-icon {
  padding-right: 4px;
  font-size: 18px;
}

.speaker-label {
  padding-right: 4px;
}

scale {
  min-width: 100px;
  margin-left: -8px;
}
